.fundo-padrao{
    width: 90%;
    height: 100%;
}

.card-padrao{
    background-color: rgba(243, 243, 243, 0.98);
    border-radius: 20px !important;
    border: 2px solid !important;
    height: 100% !important;
}

.auto-size-img{
    width: 130%;
    height: auto;
}

.drop-zone:hover .dropzone-msg-title{
    opacity: 0.7;
}

.dropzone .dz-preview .dz-image {
    width: auto;
    height: auto;
}

.drop-zone{
    width: 100%;
    height: auto;
}

.select2-container {
    width: 100% !important;
}

/* .datatable-altura{
    min-height: 520px;
} */

.tabela-noteflix {
    opacity: 0.95 !important; }

.tabela-noteflix th:not(.table-cell-center) span, .tabela-noteflix td:not(.table-cell-center) > span, .tabela-noteflix td:not(.table-cell-center) > div {
    padding-left: 1.55rem !important; }
  
.tabela-noteflix th {
background-color: #000000; }

.tabela-noteflix tbody {
    background-color: #eeeeee; }

.tabela-noteflix tbody tr {
    border-bottom: 1px solid #b1b1b1; }

.tabela-noteflix th span {
    color: white !important;
    text-transform: capitalize !important;
    font-weight: normal !important; }

.tabela-noteflix th:last-child {
border-top-right-radius: 0.42rem;
border-bottom-right-radius: 0.42rem; }

.tabela-noteflix th:first-child {
border-top-left-radius: 0.42rem;
border-bottom-left-radius: 0.42rem; }

.tabela-noteflix .datatable-pager-link-active {
background-color: #000000 !important; }

.tabela-noteflix .datatable-pager-link:hover:not(.datatable-pager-link-disabled) {
background-color: #000000 !important; }

.tabela-noteflix .flaticon2-arrow-up, .tabela-noteflix .flaticon2-arrow-down {
color: white !important; }

.datatable.datatable-default.tabela-noteflix > .datatable-pager > .datatable-pager-info .datatable-pager-size .btn.dropdown-toggle:hover {
background-color: #000000 !important; }